<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit animal friend</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/fonts.css" />

  </head>
  <body>
    <header><%- include('modules/navbar.ejs') %></header>
    <main>
      <div class="container editForm">
        <div class="title-form">
          <h2>Edit your Pawy Buddy</h2>
        </div>
        <div class="form-container">
          <form
            action="/animal/edit/<%= result.animal_id %>/<%= result.human_id %>"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-section">
              <label for="editName">Edit Name</label>
              <input
                type="text"
                id="editName"
                aria-describedby="edit name"
                name="animal_name"
                value="<%= result.animal_name %>"
              />
            </div>
            <div class="form-section">
              <label for="editDescription">Edit Description</label>
              <textarea maxlength="250" 
              name="description" 
              id="editDescription" 
              aria-describedby="edit description" 
              name="description" ><%=result.description%></textarea>
            </div>
            <div class="form-section">
              <label for="editYear">Edit when did you addopt your friend</label>
              <input
                type="number"
                min="1600"
                max="2500"
                id="editYear"
                aria-describedby="adopt year"
                value="<%= result.adopt_year %>"
                name="adopt_year"
              />
            </div>
            <div class="form-section">
              <label for="editSpecies">Edit species</label>
              <input
                type="text"
                id="editSpecies"
                aria-describedby="edit species"
                value=" <%= result.species %>"
                name="species"
              />
            </div>
            <div class="form-section">
              <p>Change the image</p>
            <label for="editImg">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6l96 0 32 0 208 0c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
            </label>
              <input type="file" id="editImg" name="img" hidden />
            </div>
            <div class="alertMssg">
              <p> <%= typeof message != 'undefined' ? message : null %> </p>
            </div>
            <div class="buttons-sect">
              <button type="submit">Submit</button>
              <button type="button" onclick="window.location.href='/'">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      
    </main>
    <footer><%- include('modules/footer.ejs') %></footer>
  </body>
</html>